.about {
    text-align: center;
    align-items: center;
    display: flex;
    background-image: url(assets/about-hero.png);
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    
}



.title {
    color: white;
    font-size: 145px; 

    letter-spacing: 5px;
}

.subtitle {
    color: #d7cdc5;
    font-size: 35px;
    font-weight: 600;
    transform: scale(1, 1.5);
    
    font-weight: 800;
}
.arrow {
    position: relative;
    top: 100px;
    
}

.abouttext {
    color: white;
    position: relative;
    top: 160px;
    left: 420px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.topbrands {
    background-color: #1b2f26;
    height: 100vh;
    text-align: center;
    overflow-x: hidden;
    overflow-y: hidden;
}

.text {
    color: #c17d4c;
    font-size: 45px;
    font-weight: 600;
    position: relative;
    top: 60px;
}

.text1 {
    color: white;
    position: relative;
    top: 80px;
}

.brands {
    text-align: left;
    line-height: 75px;
    color: white;
    position: relative;
    top: 130px;
    display: flex;
    justify-content: center;
    gap: 1000px;
    
}


.brands2 {
    text-align: left;
    line-height: 75px;
    color: white;
    position: relative;
    top: 130px;
    display: flex;
    justify-content: center;
    gap: 1050px;
}

.brands3 {
    text-align: left;
    line-height: 75px;
    color: white;
    position: relative;
    top: 130px;
    display: flex;
    justify-content: center;
    gap: 1030px;
}

.brands4 {
    text-align: left;
    line-height: 75px;
    color: white;
    position: relative;
    top: 130px;
    display: flex;
    justify-content: center;
    gap: 1040px;
}
.brands5 {
    text-align: left;
    line-height: 75px;
    color: white;
    position: relative;
    top: 130px;
    display: flex;
    justify-content: center;
    gap: 980px;
}
.brands6 {
    text-align: left;
    line-height: 75px;
    color: white;
    position: relative;
    top: 130px;
    display: flex;
    justify-content: center;
    gap: 990px;
}



.testimonysection {
    background-color: #d7cdc5;
    height: 65vh;
}

.testimony {
    height: 65vh;
    text-align: left;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    row-gap: 10px;
    padding: 40px;

}



.t-text {
    color: black;
    font-size: 40px;
    font-weight: 600;
    position: relative;
    top: -20px;

    
}
span  {
    color: #c17d4c;
}

.t-image {
    position: relative;
    left: -80px;
    top: 80px;
    height: auto;
    width: 280px;
    align-self: center;
}

.t-image2 {
    position: relative;
    top: 80px;
    height: auto;
    width: 250px;
    align-self: center;
}

.ttext1 {
    position: relative;
    top: -150px;
    left: -380px;
}


.ttext2 {
    position: relative;
    top: -150px;
    left: -280px;
}


@media (max-width: 1250px) {
    .ttext1 {
        position: relative;
        top: -150px;
        left: -340px;
    }
}

@media (max-width: 1175px) {
    .ttext1 {
        position: relative;
        top: -150px;
        left: -300px;
    }
}

@media (max-width: 1070px) {
    .testimony {
        height: 65vh;
        text-align: left;
        overflow-x: hidden;
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        row-gap: 10px;
        padding: 40px;
    
    }


.t-image {
    position: relative;
    left: 100px;
    top: 0px;
    height: auto;
    width: 280px;
    align-self: center;
}

.t-image2 {
    position: relative;
    top: 0px;
    height: auto;
    width: 250px;
    align-self: center;
}

.ttext1 {
    position: relative;
    top: -240px;
    left: -200px;
}


.ttext2 {
    position: relative;
    top: -150px;
    left: -280px;
}
}
