.contact-us h2,
.contact-us p,
.contact-us h3 {
    color: var(--color-white);
}

.contact-us h2 {
    writing-mode: vertical-rl;
    color: var(--color-brown);
    font-size: 3rem;
    line-height: 100%;
}

.flex {
    display: flex;
}

section.contact-us {
    background-color: var(--color-green);
}

.grid.container {
    display: grid;
    grid-template-columns: 10% 45% 45%;
    gap: 4rem;
    min-height: 100vh;
}
