/* ------------------------------- HERO SECTION ------------------------------- */

.hero {
    background-color: var(--color-green);
    padding-block-start: 7rem;
    overflow-x: hidden;
}

.heading-container {
    position: relative;
    justify-content: center;
    align-items: center;
}

.heading-container .decoration {
    position: absolute;
}

.decoration__square {
    top: -3rem;
    left: 0;
}

.decoration__star {
    top: 1rem;
    right: 0;
}

.heading-wrapper {
    flex-direction: column;
}

.heading-wrapper h1 {
    font-size: clamp(5rem, 10vw, 10rem);
    line-height: 0.86;
    text-align: center;
    z-index: 2;
    letter-spacing: calc(5 * 0.01em);
    white-space: nowrap;
    color: var(--color-brown);
}

.heading-wrapper p {
    color: var(--color-cream);
    text-align: center;
    font-size: clamp(0.875rem, 1.85vw, 1.5rem);
    max-width: 24ch;
    margin-block-start: 1.25rem;
}

.heading-container .hero-image {
    min-width: 10rem;
    max-width: 24rem;
}

.heading-container .hero-image__left {
    transform-origin: bottom right;
    transform: rotate(12deg) translateX(-2rem);
}

.heading-container .hero-image__right {
    transform-origin: bottom left;
    transform: translate(2rem, 2rem) rotate(-10deg);
}

.hero__subsection {
    margin-block: 4rem;
}

.links-wrapper {
    padding: 0;
}

.links-wrapper li {
    font-size: 1.5rem;
    list-style: none;
    color: var(--color-brown);
    text-underline-offset: 0.5rem;
}

.links-wrapper li:hover {
    text-decoration: underline;
}

.links-wrapper li:not(:first-child) {
    margin-block-start: 1rem;
}

.shop-button {
    display: block;
    margin-inline-start: -12%;
    width: 8rem;
}

.shop-button svg {
    transition: transform 500ms ease;
    width: 100%;
}

.shop-button:hover svg {
    transform: rotate(360deg);
}

.more-direction {
    display: block;
    color: var(--color-white);
    transform: rotate(90deg) translateX(0.75rem);
    overflow-x: hidden;
    background-color: transparent;
    cursor: pointer;
}

.more-direction svg {
    margin-block-start: -1rem;
    transform-origin: center left;
    transition: transform 200ms ease;
    transform: translateX(-1.5rem);
}

.more-direction:hover svg {
    transform: translateX(-0.25rem);
}

/* -------------------------------- STYLE INSPIRATION SECTION ---------------------------- */

.style-inspiration {
    background-color: var(--color-cream);
    overflow-y: hidden;
}

.big-container {
    max-width: 1600px;
    margin-inline: auto;
    position: relative;
    align-items: center;
}

.inspiration-right-image {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    /* height: 100%; */
}

.explore-more-button {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 3rem 3rem 0;
    font-weight: 500;
}

.explore-more-button:hover {
    opacity: 0.75;
}

.explore-more-button img {
    display: inline-block;
    height: 1em;
    margin-inline-start: 0.25rem;
}

.inspiration-content-wrapper {
    z-index: 3;
    gap: 12rem;
    margin-block: 6rem 7rem;
}

.inspiration-content-wrapper h2 {
    font-size: clamp(2rem, 4vw + 0.675rem, 4rem);
    color: var(--color-white);
    writing-mode: vertical-rl;
    line-height: 1.1;
    margin-inline-start: 3rem;
}

.inspiration-content {
    color: var(--color-green);
    position: relative;
}

.inspiration-content img {
    max-width: 25rem;
    margin-block-start: 0.5rem;
}

.title-wrapper {
    align-items: baseline;
    justify-content: space-between;
}

.title-wrapper h3 {
    font-size: 2.5rem;
}

.arrow-right {
    position: absolute;
    top: 50%;
    right: 0rem;
    width: 7rem;
    transform-origin: center;
    transform: rotate(50deg) translate(0, -50%);
}

.text-decor {
    position: absolute;
    color: var(--color-brown);
    bottom: 5%;
    left: -50%;
}

.text-decor__formal {
    font-size: 2.5rem;
    font-weight: 600;
}

.text-decor__street {
    font-size: 2rem;
    font-weight: 400;
    bottom: -5%;
}

/* -------------------------------- FEATURED PRODUCTS SECTION ---------------------------- */

.featured-products {
    background-color: var(--color-green);
    padding-block: 4rem;
}

.products-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, auto);
}

.main-product {
    position: relative;
    grid-area: 1 / 1 / 3 / 5;
}

.main-product h2 {
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: var(--color-brown);
    font-size: clamp(2rem, 4vw + 0.675rem, 4rem);
    writing-mode: vertical-rl;
    line-height: 1.1;
}

.main-product img {
    height: 100%;
}

.product-item-1 {
    grid-area: 1 / 5 / span 1 / span 2;
}

.product-item-2 {
    grid-area: 1 / 7 / span 1 / span 2;
}

.product-item-3 {
    grid-area: 2 / 5 / span 1 / span 2;
}

.product-item-4 {
    grid-area: 2 / 7 / span 1 / span 2;
}
